* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 200, 227);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    background-color: #1d1d1f;
}

a {
    color: white;
}

header>div {
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.02em;
    font-weight: 550;
    color: #f5f5f7;

}

.title {
    margin: 50px;
    letter-spacing: 0.04em;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.underoverskrift {
    margin: 50px;
    letter-spacing: 0.04em;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    gap: 10px;
    max-width: 700px;
    margin: auto;
    margin-bottom: 100px;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 2px solid white;
    transition: 0.5s;
}

img:hover {
    transform: scale(1.03);
}

.stor {
    grid-column: span 2;
    grid-row: span 2;
}

.horisontalstor {
    grid-column: span 2;
}

.vertikalstor {
    grid-row: span 2;
}